body{
    background-image: url(https://th.bing.com/th/id/OIP.5SjKih2sQZ_ysAcRIOzJhgHaEo?w=305&h=190&c=7&r=0&o=5&dpr=1.25&pid=1.7);
    background-size:cover;
    

}

ul{
    float: right;
    padding-top:2px;
    
}
ul li{
    list-style-type: none;
    display:inline-block;
    border:1px solid white;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color:pink;
    color: white;
}
.h1class{text-align: center;
    padding-top:300px;
    font-size: 30px;
    font-family: Century Gothic;
}

.btn{
    text-align: center;;
}

.Button{
    list-style-type: none;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    transition: 0.6s ease;

}
.Button:hover{
    background-color: pink;
    color: white;
}
#logo{
    width: 50px;
    height: auto;
    
}
.logos{
    margin-top: -470px;
}
